<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <head>
        <title><h1>Pirates Wiki</h1></title>
    </head>
    <body>
    <div class="container">
        {{{ body }}}
    </div>
    </body>
</html>
