<main>
	<h2>Handmade, Fresh, Daily!</h2>

		{{#each donuts}}

			<div class="donut-container">

				{{!-- <img src="https://www.dunkindonuts.com/content/dam/dd/img/icons/global/global-perks-donut.svg"> --}}

				<h3><a href="/donuts/{{this._id}}">Show {{this.name}}</a></h3>

				<p>Price: {{this.price}}</p>

			</div>

		{{/each}}


</main>
