<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Express App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
     
        {{{ body }}}
     
        <h6>FOOTER GOES HERE AND WILL APPEAR ON EVERY VIEW</h6>
    </body>
</html>